body {
    margin: 0 1%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: green;
    padding: 2% 0;
}

.img-holder {
    width: 10em;
    background-color: tan;
    padding: 5%;
}


.intro-text {
    width: 20em;
    background-color: blue;
}

.contact {
    margin: 5%;
}

.contact p {
    text-align: center;
}

footer {
    background-color: green;
    text-align: center;
}